@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);

body {
  padding-top: 1rem;
}

.main-app {
  box-shadow: 0 0 2px 2px #535353;
  padding: 1rem;
}

.user-list {
  margin-top: 2rem;
}

input {
  border-radius: 0 !important;
}

input:focus {
  box-shadow: none !important;
}

.shrunk {
  display: none;
}

.filter-input {
  position: relative;
}

.filter-list {
  position: absolute;
  top: 0;
  left: 0;
  transform: inherit !important;
}

.filter-group {
  display: inline-block;
  padding: .5rem;
  margin-top: .3rem;
  margin-bottom: .3rem;
  margin-right: .3rem;
  background: #eee;
}

.filter-value {
  background: #aaa;
  color: #fff;
  border-radius: .3rem;
  padding: .3rem;  
}

.filters {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  padding-left: .3rem;
}